@{
    ViewData["Title"] = "Home Page";
}
@model BooksViewModel

<div class="text-center">
    <h1 class="display-4">Books</h1>
    @foreach (Books b in Model.Books)
    {
          <partial  name="BookSummary" model="b" />   
    }

    <div page-info="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
</div>
